#If you are using apache as your web server, it may be easier for you to use proxy pass to redirect the traffic from localhost to the default
# port in acmeServer, port 8080.

ProxyPass /ads http://localhost:8080/ads
ProxyPass /newspapers http://localhost:8080/newspapers