

<h4 class="h4">This is the Ad home page. You can display all ads here. You can also create new ads.</h4>

<button ng-click="getAllAds()">View All Ads</button>
<div ng-show="true">
<table class="table table-responsive table-striped table-hover">
    <thead>
        <tr>
            <th>Ad Id</th><th>Title</th><th>Description</th>
            </tr>
        </thead>
    <tr data-ng-repeat="ad in adsList ">
    <td><a href="#/editad/{{ad.id}}">{{  ad.id }}</a></td>
    <td>{{ ad.title }}</td>
    <td> {{ ad.description }}</td>
    <td> <button class="btn" ng-click="deleteAd(ad.id)">X</button>/></td>
    </tr>
</table>
</div>