<h2>Add / Edit Ad</h2>


<form class="form-horizontal" name="adForm" novalidate>
    <input type="text" ng-model="ad.id" ng-readonly="true" placeholder="ID"><br>
    <input type="text" ng-model="ad.title" placeholder="Ad Title"><br>
    <input type="text" ng-model="ad.description" placeholder="Description" name="description"><br>
    <table>
        <tr data-ng-repeat="newspaper in ad.newspapers ">
            <td>
                <span class="label">{{ newspaper.publicationName }}</span>
            </td>
        </tr>
    </table>
    <input type="button" value="Save Ad" class="btn pull-left" ng-click="saveAd(ad)"/>
    <br>
    <br>
    <ng-form class="form-group pull-left" name="publish">
        <select
                ng-model="newspaper.selected"
                ng-options="newspaper.id as newspaper.publicationName for newspaper in newspaperList">
        </select>
        <input type="button" value="Publish Ad" class="btn pull-left" ng-click="publishAd(ad.id, newspaper.selected)"/>
    </ng-form>
</form>

